*{
    box-sizing: border-box;
    padding: 0;
}

#contenedor{
    width: 300px;
    box-shadow: 2px 2px 5px black;
    height: 300px;
    margin: 50px auto;
    cursor:crosshair;
}

.caja{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    float: left;
    font-size: 80px;
    text-align: center;
}

img{
    width: 300px;

}